body
{
    margin-left: 100px;
    margin-right: 50px;
}

.card-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 55px;
    justify-content: space-around;
}

.card-jogador
{
    height: 310px;
    width: 505px;
    border: 2px solid red;
    border-radius: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(255,40,7,0.7987570028011204) 65%);
}

.imagem
{
    float: left;
    height: 300px; 
    width: 250px;
    margin: 1px;
    border: 2px solid yellow;
    border-radius: 10px;
} 

.card-text
{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    
}

.card-text p
{
    height: 22px;
}

.delete-container{
    width: 100%;
    height: 1px;
    text-align: end;
    margin-left: -10px;
}

.botao-deletar
{
    font-size: 20px;
    color: white;
    text-align: end;
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    color:white;
}

.navbar
{
    background-color: white;
}