body
{
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
}

.card-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 55px;
    
}

.card 
{
    height: 310px;
    width: 505px;
    border: 2px solid red;
    border-radius: 15px;
    background-image: url(fundo-card.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.imagem
{
    float: left;
    height: 300px; 
    width: 250px;
    margin: 1px;
    border: 2px solid yellow;
    border-radius: 10px;
} 

.card-text
{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
}

.botao-deletar
{
    font-size: 20px;
    color: red;
}

a
{
    text-decoration: none;
    color: black;
}